<section id="politicians" class="politicians">
	<header class="row full-width">
		<h1 class="breadcrumbs">Quem será o próximo a cair?</h1>
		<span>Aposte em qual será o próximo político a ser cassado, investigado ou exonerado de seu cargo. Aproveite e compartilhe com seus amigos!</span>
	</header>
	<div class="content">
		<ul class="list-politicians row full-width">
			<li ng-repeat="politicians in politiciansList" class="small-6 medium-4 large-2 xlarge-2 column">
				<div class="item-list">
					<div class="overlay-voted">
						<span class="text-wanted">PROCURADO</span>
					</div>
					<figure class="img-politicians"><img src="{{politicians.urlFoto}}"></figure>
					<span class="name-politicians">{{politicians.nomeParlamentar}}</span>
					<span class="political-party">{{politicians.partido}} - {{politicians.uf}}</span>
				</div>
			</li>
		</ul>
	</div>
</section>
