<section id="signup" class="signup row root">
	<div class="row">
		<div class="medium-6 medium-centered large-4 large-centered columns">
			<form method="post" name="signupForm" class="ng-pristine ng-invalid ng-invalid-required">
				<div class="column log-in-form">
					<h4 class="text-center">Inscrever-se</h4>
					<hr />
					<label>
						<input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="user.email" placeholder="E-mail" required="" autofocus="" style="">
						<i class="fa fa-at form-control-feedback"></i>
					</label>
					<label>
						<input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" name="password" ng-model="user.password" placeholder="Senha" required="">
						<i class="fa fa-key form-control-feedback"></i>
					</label>
					<input id="show-password" type="checkbox">
					<label for="show-password">Mostrar Senha</label>
					<p><button type="submit" ng-disabled="signupForm.$invalid" ng-click="signup(user);" class="button alert expand" value="Log In" disabled="disabled">Cadastrar-se</button></p>
				</div>
			</form>
		</div>
	</div>
</section>